body{
    font-family: cursive;
    font-style: oblique;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 245, 232);
}
.font{
      font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}
.font.logo{
    font-weight: bold;
    letter-spacing: 1.5px;
    flex-wrap: 0;

}
.header{
    background-color: rgb(126, 174, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 20px;
}
#navegar{
    display: flex;
    width: 200px;
    justify-content: space-between;
    list-style-type: none;
}
#navegar :hover{
    color: red;
}
#paragrafo1{
    gap: 30px;
    display: flex;
    flex-shrink: 0;
    background: linear-gradient(#ffe8d4, #f69d3c);
    border: 1px solid dimgray;
    border-radius: 10px;
    justify-content: center;
    margin: 50px;
    height: 100px;
}
#paragrafo1 p{
    align-items: center;
}
img{
    display: block;
    max-width: 50vh;
    box-shadow: 4px 5px 5px red;
}
table{
    border: 1px solid;
    width: 70vh;
    height: 200px;
    margin-bottom: 15px;
    box-shadow:
    inset 0 -3em 3em rgba(234, 79, 36, 0.3),
    0 0 0 2px white;
}
th,
td{
    border: 1px solid;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5%;
    background: rgb(245, 229, 208);
    width: 55vh;
    text-align: center;
    margin-bottom: 5px;
}
form input{
    display: flex;
    align-items: center;
    border: 1px solid;
    width: 200px;
    align-self: center;
}
form label{
    display: flex;
    justify-content: center;
    margin:5px 0px 5px 10px;
    align-items: center;
    width: 195px;
    border-bottom: 1px solid;
    align-self: center;
}
input + #submit{
    align-items: center;
    margin: 15px 0px 10px;
    font-weight: bold;
    min-width: 35vb;
}

div{
    display: grid;
    place-items: center;
}